name: Build Polkadot binaries and images

on:
  workflow_dispatch:
  # push:
  #   branches: "*"
  #   paths:
  #     - .github/workflows/polkadot.yml
  #     - dockerfiles/Dockerfile-env-test
  #     - dockerfiles/Dockerfile-env-amd64
  #     - dockerfiles/Dockerfile-amd64
  #     - config.yml
  # pull_request:
  #   paths:
  #     - .github/workflows/polkadot.yml
  #     - dockerfiles/Dockerfile-env-test
  #     - dockerfiles/Dockerfile-env-amd64
  #     - dockerfiles/Dockerfile-amd64
  #     - config.yml

env:
  REGISTRY: ghcr.io
jobs:
  setup-matrix:
    runs-on: ubuntu-latest
    outputs:
      debian-versions: ${{ steps.set-matrix.outputs.debian-versions }}
      rust-versions: ${{ steps.set-matrix.outputs.rust-versions }}
      clang-versions: ${{ steps.set-matrix.outputs.clang-versions }}
      rustc-targets: ${{ steps.set-matrix.outputs.rustc-targets }}
      components: ${{ steps.set-matrix.outputs.components }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Read matrix from config.yml
        id: set-matrix
        run: |
          echo "debian-versions=$(yq -o=json -I=0 '.polkadot.matrix.debian-versions' config.yml)" >> "$GITHUB_OUTPUT"
          echo "rust-versions=$(yq -o=json -I=0 '.polkadot.matrix.rust-versions' config.yml)" >> "$GITHUB_OUTPUT"
          echo "clang-versions=$(yq -o=json -I=0 '.polkadot.matrix.clang-versions' config.yml)" >> "$GITHUB_OUTPUT"
          echo "rustc-targets=$(yq -o=json -I=0 '.polkadot.matrix.rustc-targets' config.yml)" >> "$GITHUB_OUTPUT"
          echo "components=$(yq -o=json -I=0 '.polkadot.matrix.components' config.yml)" >> "$GITHUB_OUTPUT"

  build-binaries:
    runs-on: ubuntu-latest
    needs: [setup-matrix]
    permissions:
      contents: write
      packages: write
    container:
      image: ghcr.io/${{ github.repository_owner }}/substrate-cross-compiler-env:debian-${{ matrix.debian-versions }}-rust-${{ matrix.rust-versions }}-clang-${{ matrix.clang-versions }}
      options: --user 0:0 --privileged -v /var/run/docker.sock:/var/run/docker.sock
    strategy:
      fail-fast: false
      matrix:
        debian-versions: ${{ fromJson(needs.setup-matrix.outputs.debian-versions) }}
        rust-versions: ${{ fromJson(needs.setup-matrix.outputs.rust-versions) }}
        clang-versions: ${{ fromJson(needs.setup-matrix.outputs.clang-versions) }}
        rustc-targets: ${{ fromJson(needs.setup-matrix.outputs.rustc-targets) }}
        components: ${{ fromJson(needs.setup-matrix.outputs.components) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set environmental variables
        run: |
          echo "CODE_GIT_REPO=$(cat config.yml | yq -r '.polkadot.code_git_repo' | tr -d '\n')" >> "$GITHUB_ENV"
          CODE_GIT_REF=$(cat config.yml | yq -r '.polkadot.code_git_ref' | tr -d '\n')
          echo "CODE_GIT_REF=${CODE_GIT_REF}" >> "$GITHUB_ENV"
          VERSION=$( echo "${CODE_GIT_REF}" | sed -E 's/^polkadot-//')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          BUILD_VERSION="debian-${{ matrix.debian-versions }}-rust-${{ matrix.rust-versions }}-clang-${{ matrix.clang-versions }}-${{ matrix.rustc-targets }}"
          echo "BINARY_FILE_NAME=${{ matrix.components }}-${VERSION}-${BUILD_VERSION}" >> $GITHUB_ENV
          echo "EXECUTE_WORKER_BINARY_FILE_NAME=${{ matrix.components }}-${VERSION}-execute-worker-${BUILD_VERSION}" >> $GITHUB_ENV
          echo "PREPARE_WORKER_BINARY_FILE_NAME=${{ matrix.components }}-${VERSION}-prepare-worker-${BUILD_VERSION}" >> $GITHUB_ENV
          echo "FULL_IMAGE_NAME=${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.components }}:${VERSION}-${BUILD_VERSION}" >> "$GITHUB_ENV"
          git config --global --add safe.directory $(pwd)
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ env.CODE_GIT_REPO }}
          path: git-content
          ref: ${{ env.CODE_GIT_REF }}
          fetch-depth: 1
      - name: Build binaries
        working-directory: ./git-content
        env:
          RUSTFLAGS: "-C target-cpu=${{ matrix.rustc-targets }}"
          CFLAGS: "-pipe -fstack-protector-strong -D_FORTIFY_SOURCE=2 -mpclmul -march=${{ matrix.rustc-targets }}"
          CXXFLAGS: "-pipe -fstack-protector-strong -D_FORTIFY_SOURCE=2 -mpclmul -march=${{ matrix.rustc-targets }}"
        run: |
          export WASM_BUILD_WORKSPACE_HINT=$(pwd)
          export BINARIES_DIR=/opt/cargo_target/x86_64-unknown-linux-gnu/production
          env
          mkdir ${GITHUB_WORKSPACE}/artifacts
          echo "Build ${{ matrix.components }}"
          if [ "${{ matrix.components }}" = "polkadot" ]; then
            cargo build --profile production --locked --bin polkadot --bin polkadot-execute-worker --bin polkadot-prepare-worker --target x86_64-unknown-linux-gnu
            ls ${BINARIES_DIR}
            cp ${BINARIES_DIR}/polkadot ${GITHUB_WORKSPACE}/artifacts
            cp ${BINARIES_DIR}/polkadot-execute-worker ${GITHUB_WORKSPACE}/artifacts
            cp ${BINARIES_DIR}/polkadot-prepare-worker ${GITHUB_WORKSPACE}/artifacts
          fi
          if [ "${{ matrix.components }}" = "polkadot-parachain" ]; then
            # "polkadot-parachain" with runtimes is too big for free runers
            export SKIP_WASM_BUILD=1
            cargo build --profile production --locked --bin polkadot-parachain --target x86_64-unknown-linux-gnu
            ls ${BINARIES_DIR}
            cp ${BINARIES_DIR}/polkadot-parachain ${GITHUB_WORKSPACE}/artifacts
          fi
          if [ "${{ matrix.components }}" = "polkadot-omni-node" ]; then
            cargo build --profile production --locked --bin polkadot-omni-node --target x86_64-unknown-linux-gnu
            ls ${BINARIES_DIR}
            cp ${BINARIES_DIR}/polkadot-omni-node ${GITHUB_WORKSPACE}/artifacts
          fi
          if [ "${{ matrix.components }}" = "substrate-node" ]; then
            cargo build --profile production --locked --bin substrate-node --target x86_64-unknown-linux-gnu
            ls ${BINARIES_DIR}
            cp ${BINARIES_DIR}/substrate-node ${GITHUB_WORKSPACE}/artifacts
          fi
      - name: Create GitHub release
        uses: "actions/github-script@v6"
        with:
          script: |
            try {
              const response = await github.rest.repos.createRelease({
                draft: false,
                generate_release_notes: true,
                name: process.env.CODE_GIT_REF,
                owner: context.repo.owner,
                prerelease: false,
                repo: context.repo.repo,
                tag_name: process.env.CODE_GIT_REF,
              });
            } catch (error) {
              core.notice(error.message);
            }
      - name: Upload binaries to GitHub release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir gh_artifacts
          echo "Upload ${{ matrix.components }}"
          if [ "${{ matrix.components }}" = "polkadot" ]; then
            cp artifacts/polkadot gh_artifacts/${BINARY_FILE_NAME}
            cp artifacts/polkadot-execute-worker gh_artifacts/${EXECUTE_WORKER_BINARY_FILE_NAME}
            cp artifacts/polkadot-prepare-worker gh_artifacts/${PREPARE_WORKER_BINARY_FILE_NAME}
            gh release upload ${{ env.CODE_GIT_REF }} gh_artifacts/${BINARY_FILE_NAME} --clobber
            gh release upload ${{ env.CODE_GIT_REF }} gh_artifacts/${EXECUTE_WORKER_BINARY_FILE_NAME} --clobber
            gh release upload ${{ env.CODE_GIT_REF }} gh_artifacts/${PREPARE_WORKER_BINARY_FILE_NAME} --clobber
          fi
          if [ "${{ matrix.components }}" = "polkadot-parachain" ]; then
            cp artifacts/polkadot-parachain gh_artifacts/${BINARY_FILE_NAME}
            gh release upload ${{ env.CODE_GIT_REF }} gh_artifacts/${BINARY_FILE_NAME} --clobber
          fi
          if [ "${{ matrix.components }}" = "polkadot-omni-node" ]; then
            cp artifacts/polkadot-omni-node gh_artifacts/${BINARY_FILE_NAME}
            gh release upload ${{ env.CODE_GIT_REF }} gh_artifacts/${BINARY_FILE_NAME} --clobber
          fi
          if [ "${{ matrix.components }}" = "substrate-node" ]; then
            cp artifacts/substrate-node gh_artifacts/${BINARY_FILE_NAME}
            gh release upload ${{ env.CODE_GIT_REF }} gh_artifacts/${BINARY_FILE_NAME} --clobber
          fi
      - name: Log in to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: dockerfiles/Dockerfile-amd64
          context: artifacts
          push: true
          load: true
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            DEBIAN_VERSION=${{ matrix.debian-versions }}
            BINARY_NAME=${{ matrix.components }}
          tags: ${{ env.FULL_IMAGE_NAME }}
